<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>LANDMARKS!</h1>

<center>
<% @landmarks.each do |landmark| %>
	<%= landmark.name %> <%= " " %>
	<%= landmark.year_completed %>
	<br>
	<% end %>
</center>
</body>
</html>
