<!DOCTYPE html>
<html>
<head>
	<title>new landmark!</title>
</head>
<body>
<h1>Input new landmark</h1>
<form method="POST" action="/landmarks/index">
	Landmark Name: <input type="text" name="name">
	Year Completed: <input type="text" name="year_completed">
	<input type="submit" value="submit">


</form>


</body>
</html>