<!DOCTYPE html>
<html>
<head>
	<title>new landmark!</title>
</head>
<body>
<h1>Input new Figure</h1>
<form method="POST" action="/figures">
	Name: <input type="text" name="name"><br>
  <h2>Titles</h2><br>
 <% title_array = [] %>
  <% @titles.each do |t| %>
      <input type="checkbox" value="<%=t.id%>" name="[titles][]"><label><%= t.name %></label><br>

      <% end%>

			<h2>Create new title:</h2>
			<input type="text" name="[titles][]">

  <h2>Landmarks</h2>
  <% @landmarks.each do |lm| %>
<input type="checkbox" value="<%= lm.id %>" name="[landmarks][]"><label><%= lm.name %></label><br>
  <% end %>

<h2>Create new landmark:</h2>
      <input type="text" name="[landmarks][]">
	<!-- Year Completed: <input type="text" name="year_completed"> -->
	<input type="submit" value="submit">
</form>
</body>
</html>
